@page
@model IndexModel
@{
    ViewData["Title"] = "Testando Minha PORTA-IP";
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>Conheça nosso aplicativo: <a href="https://metaversomed.com.br">Metaverso Med</a>.</p>
</div>

<div style="center">
    <button class="btn btn-outline-primary align-content-center" style="align-content" asp-page="/dashboard"><a asp-area="" asp-page="/dashboard">Dashboard</a></button>
</div>